.spaced {
    padding: 20px;
}

.flowRoot {
    display: flow-root;
    .leftContent {
        float: left;
    }
    .rightContent {
        float: right;
    }
}

.search-form {
    width: 70%;
    margin: 0 auto;
}

