.leftContainer {
    padding-right: 0px!important;
    .leftField {
        text-align: right;
    }
}

.rightContainer {
    padding-left: 5px!important;
    .rightField {
        text-align: left;
    }
}
